<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="column is-6 is-offset-3 has-text-centered">
                <div class="box">
                    <h1 class="title">Cat List</h1>
                    <p>You may check cat's notes here.</p>
                    <hr>
                    <a href="/bake?cat=neko.txt" class="button is-block is-info is-fullwidth">neko</a>
                    <hr>
                    <a href="/bake?cat=nyan.txt" class="button is-block is-info is-fullwidth">nyan</a>
                    <hr>
                    <a href="/bake?cat=meow.txt" class="button is-block is-info is-fullwidth">meow</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>