<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWASP TOP 10 DEMO SITE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="column is-6 is-offset-3 has-text-centered">
                <div class="box">
                    <h1 class="title">Features</h1>
                    <hr>
                    <a href="/index" class="button is-block is-info is-fullwidth">Login</a>
                    <hr>
                    <a href="/show" class="button is-block is-info is-fullwidth">Cat Notes</a>
                    <hr>
                    <a href="/ssrf" class="button is-block is-info is-fullwidth">SSRF</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>